*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height:100vh;
    box-sizing: border-box;
    
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    height:8vh ;
    background-color: hsl(0, 0%, 0%,0.8);
    color:white;
    border-bottom: darkmagenta solid 2px;
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1rem;
    

}
.navbar_links a{
    font-size: 0.75em;
    padding-left: 10px;
}
 .container-above{
     display: flex;
     flex-direction: column;
     background-image: url(./img/showcase.jpg);
     background-position: center;
     background-size: cover;
     height:40vh ;
     opacity: 1;
     width: 100vw;
     text-align: center;
     justify-content: center;
     color: white;
    
 }
 
 .navbar-bottom{
     display: flex;
     height: 8vh;
     background-color: hsl(0, 0%, 0%,0.8);
     color: white;
     justify-content: space-between;
     align-items: center;
     padding-left: 1em;
     padding-right: 1em;

 }
 #SubcribeButton{
    height: 2em;
    width: 5.5em;
    background-color:rgb(231, 50, 50);
    color: white;
 
 }
 #email{
    height: 1.5em;  
 }
 .image{
     width: 25%;
     padding-top: 5%;
     /* padding-bottom:15px;  */
  
   }

 .container-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    background-color:hsl(0, 20%, 94%);
    font-size:  1em;
    } 
 


.item{
display:inline;
text-align: center;
width: 30vw;

}

    #first-p{
        font-size: 1rem;
        padding: 0.5em;
        }
 
footer{
/* display:flex; */
height: 10vh;
/* flex-direction: column; */
background-color: hsl(0, 0%, 0%, 0.8);
font-size: 10px;
color: white;
justify-content: center; 
align-items: center;
 
 }
 #logo{
    
    width: 10%;
    height:7%;
 }
 .container-main{
     height:73.5vh ;
     position: relative;
 }
 .par1, .par2{
   width:70%;  
 }
 .par3{
    /* position: absolute; */
    float:right;
    background-color: hsl(0, 0%, 0%,0.8);
    color: white;
    width: 25%;
    height: 40%;
    padding-left: 1em;
    padding-top:2em;
    font-size:0.75em;
   
    
    

 }
 .clearfix:after { 
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
 .par1{
     
     width:60% ;
     height: 20%;
     padding:10px ;
     margin: 15px;

 }
 .par2{

    width:60% ;
    height: 20%;
    background-color: hsl(0, 0%, 0%, 0.7);
    color: white;
    font-size: 0.9em;
    padding: 10px;
    margin:15px;
    
}