*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height:100vh;
    box-sizing: border-box;
    
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    height:8vh ;
    background-color: hsl(0, 0%, 0%,0.8);
    color:white;
    border-bottom: darkmagenta solid 2px;
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1rem;
    

}
.navbar_links a{
    font-size: 0.75em;
    padding-left: 10px;
}
 .container-above{
     display: flex;
     flex-direction: column;
     background-image: url(./img/showcase.jpg);
     background-position: center;
     background-size: cover;
     height:40vh ;
     opacity: 1;
     width: 100vw;
     text-align: center;
     justify-content: center;
     color: white;
    
 }
 
 .navbar-bottom{
     display: flex;
     height: 8vh;
     background-color: hsl(0, 0%, 0%,0.8);
     color: white;
     justify-content: space-between;
     align-items: center;
     padding-left: 1em;
     padding-right: 1em;

 }
 #SubcribeButton{
    height: 2em;
    width: 5.5em;
    background-color:red;
    color: white;
 
    border: none;
 }
 #email{
    height: 1.5em;  
 }
 .image{
     width: 25%;
     padding-top: 5%;
     /* padding-bottom:15px;  */
  
   }

 .container-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    background-color:hsl(0, 20%, 94%);
    font-size:  1em;
    } 
 


.item{
display:inline;
text-align: center;
width: 30vw;

}

    #first-p{
        font-size: 1rem;
        padding: 0.5em;
        }
 
footer{
display:flex;
height: 10vh;
flex-direction: column;
background-color: hsl(0, 0%, 0%, 0.8);
font-size: 10px;
color: white;
justify-content: center; 
align-items: center;
 
 }
 #logo{
    
    width: 10vh;
    height:3vh;
 }
 .container-main{
     background-color: hsl(0, 12%, 87%,0.2);
     height:73.5vh ;
   
 }
 .about-left{
     display:inline-block;
     width:70%; 
 }
 
 .about-right{
    
    display: inline-block;
    background-color: hsl(0, 0%, 0%,0.8);
    color: white;
    width: 25%;
    height: 40%;
    padding-left: 1em;
    padding-top:2em;
    font-size:0.75em;
   }

 .par1{
     
     width:60% ;
     height: 20%;
     padding:10px ;
     margin: 15px;

 }
 .par2{

    width:60% ;
    height: 20%;
    background-color: hsl(0, 0%, 0%, 0.7);
    color: white;
    font-size: 0.9em;
    padding: 10px;
    margin:15px;
    
}
.container-services{
    margin-right: 2vw;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 

}
.container-right{
    width: 70vh;
}
.container-left{
/* border: goldenrod 5px solid; */
height: 70%;
width: 70%;
margin-top: 10px;
padding-left: 5px;

}
.div-left{
display: flex;
flex-direction:column;
justify-content:space-around;
margin-bottom: 8px;
height: 20vh;
/* border: green solid 3px; */
background-color: hsl(0, 12%, 87%);


}
.container-right{
    width:20%;
    height:200px ;
    padding-top: 20px;

    padding-left:20px ;
    padding-right: 20px;
    align-items: center;
    background-color: hsl(0, 0%, 0%, 0.8);
    color: white;
    margin-top: 10px;
    font-size: 0.6em;
}
.container-right input{
    width: 100%;
    text-align:left;
    padding-bottom: 5px;
    padding-top: 5px;
}
.container-right button{
    color: white;
    background-color: hsl(0, 100%, 50%);
    border: none;
    width: 3vw;
    height: 3vh;
    margin-top:3px;
}